---
title: Become a Member
layout: page
fullwidth: true
redirect_from:
    - /membership/
    - /join/
---

<style>

#content > h1 {
    margin-bottom: 5px;
}

/* @media (min-width: 768px) {
    .row { display: flex; }

    .row .signup-form {
        width: 35%;
        margin-right: 20px;
    }

    .row .membership-copy {
        width: 65%;
        margin-left: 20px;
    }
} */


li > ul {
    margin: 5px 0;
}

.membership-copy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.membership-copy h2 { margin-top: 0; }
</style>

<p style="font-size: 0.8em; margin-top: 0; margin-bottom: 20px;">of the Friends of the La Mesa Library, a nonprofit tax-exempt organization</p>

<div class="membership-ctn" style="margin-bottom: 20px;">
    {% for membership in site.data.memberships.options %}
    <a class="membership-option" href="{{ membership.url }}" target="_blank">
        <div class="name">{{ membership.name }}</div>
        <div class="price">
            <span class="amount">{{ membership.price }}</span><span>/annual</span>
        </div>
        <!-- <div class="one-time-billing">* One-time billing</div> -->
        <button>Join</button>
        <ul>
            {% for benefit in site.data.memberships.standardBenefits %}
            <li>{{ benefit }}</li>
            {% endfor %}
            {% for benefit in membership.benefits %}
            <li>{{ benefit }}</li>
            {% endfor %}
        </ul>

    </a>
    {% endfor %}
</div>

<div style="margin-bottom: 20px;">
    <h2 style="margin-top: 0;">Sign up for membership online</h2>

    <p style="font-size: 0.9em; margin-bottom: 0;">Members enjoy a <strong>50% discount</strong> on all books, DVDs, and CDs for sale in the
        Friends Bookstore. Memberships and donations are tax-deductible (Tax ID 33-0638967). Alternatively, you can download our <a href="/images/pages/membership/membership-form-2022.pdf">membership</a> form,
        and bring it into the bookstore or mail it in.</p>
</div>

<div class="membership-copy">
    {% include_relative _support-copy.html caption="Why join the Friends?" %}
</div>

<!-- <div class="row">
    <div class="signup-form">
        <h2>Sign up for membership online</h2>

        <p style="font-size: 0.9em;">Members enjoy a <strong>50% discount</strong> on all books, DVDs, and CDs for sale in the
            Friends Bookstore. Memberships and donations are tax-deductible. (Tax ID 33-0638967)</p>

        <hr style="margin: 20px 0;">

        <div style="font-size: 0.9em;">
            Alternatively, you can download our <a href="/images/pages/membership/membership-form-2022.pdf">membership</a> form,
            and bring it into the bookstore or mail it in.
        </div>
    </div>
    <div class="membership-copy">
        {% include_relative _support-copy.html caption="Why join the Friends?" %}
    </div>
</div> -->





