---
title: Board Members
layout: default
---

<section id="content" class="grid-block">
    <div id="system-message-container">
    </div>

    <div id="system">


        <article class="item">


            <header>



                <h1 class="title">Friends of La Mesa Library Board Members</h1>


            </header>


            <div class="content clearfix">


                <table border="1" style="width: 760px; max-width: 100%;">
                    <tbody>
                        <tr>
                            <th scope="col">
                                <img src="/images/Board-Members/board-members-2018.jpg" width="500" style="max-width: 100%;" />
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div align="center">Back Row: Bob Thatcher, Treasurer; Jon Lange, Secretary; Justin Walker, IT Coordinator; John Schmitz, President; Bob Duff, Videographer</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div align="center">Front Row: Joyce Purcell, Membership Chair; Heather Pisani-Kristl, Library Ex-officio; Robin Theilmann, VP &amp; Bookstore Manager.</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h2 align="left">
                    <span style="font-family: monospace; font-size: 12px; background-color: #eaeaea;">
                        <div class="wk-gallery wk-gallery-wall clearfix polaroid margin ">

                            <a class="" href="/images/Board-Members/2015/John Schmitz.jpeg" data-lightbox="group:14-580babbad8f15" title="John Schmitz, President">
                                <div>
                                    <img src="/images/Board-Members/2015/John Schmitz.jpeg" width="200" height="245" alt="John Schmitz" />
                                    <p class="title">John Schmitz, President</p>
                                </div>
                            </a>

                            <a class="" href="/images/Board-Members/robin-theilmann.jpg" data-lightbox="group:14-580babbad8f15" title="Robin Theilmann, VP &amp; Bookstore Manager">
                                <div>
                                    <img src="/images/Board-Members/robin-theilmann.jpg" width="200" height="245" alt="Robin Theilmann, VP &amp; Bookstore Manager" />
                                    <p class="title">Robin Theilmann, VP &amp; Bookstore Manager</p>
                                </div>
                            </a>

                            <a class="" href="/images/Board-Members/2015/Bob Thatcher.jpeg" data-lightbox="group:14-580babbad8f15" title="Bob Thatcher, Treasurer">
                                <div>
                                    <img src="/images/Board-Members/2015/Bob Thatcher.jpeg" width="200" height="245" alt="Bob Thatcher" />
                                    <p class="title">Bob Thatcher, Treasurer</p>
                                </div>
                            </a>

                        </div>
                        <div class="wk-gallery wk-gallery-wall clearfix polaroid margin ">

                            <a class="" href="/images/Board-Members/jon-lange.jpg" data-lightbox="group:14-580babbad8f15" title="Jon Lange, Secretary">
                                <div>
                                    <img src="/images/Board-Members/jon-lange.jpg" width="200" height="245" alt="Jon Lange, Secretary" />
                                    <p class="title">Jon Lange, Secretary</p>
                                </div>
                            </a>

                            <a class="" href="/images/Board-Members/2015/Joyce Purcell.jpeg" data-lightbox="group:14-580babbad8f15" title="Joyce Purcell, Membership Chair">
                                <div>
                                    <img src="/images/Board-Members/2015/Joyce Purcell.jpeg" width="200" height="245" alt="Joyce Purcell" />
                                    <p class="title">Joyce Purcell, Membership Chair</p>
                                </div>
                            </a>

                            <a class="" href="/images/Board-Members/2015/Heather Pisani-Kristl.jpeg" data-lightbox="group:14-580babbad8f15" title="Heather Pisani-Kristl, Library Ex-officio">
                                <div>
                                    <img src="/images/Board-Members/2015/Heather Pisani-Kristl.jpeg" width="200" height="245" alt="Heather Pisani-Kristl"
                                    />
                                    <p class="title">Heather Pisani-Kristl, Library Ex-officio</p>
                                </div>
                            </a>

                        </div>
                        <div class="wk-gallery wk-gallery-wall clearfix polaroid margin ">

                            <a class="" href="/images/Board-Members/bob-duff.jpg" data-lightbox="group:14-580babbad8f15" title="Bob Duff, Videographer">
                                <div>
                                    <img src="/images/Board-Members/bob-duff.jpg" width="200" height="245" alt="Bob Duff" />
                                    <p class="title">Bob Duff, Videographer</p>
                                </div>
                            </a>

                            <a class="" href="/images/Board-Members/justin-walker.jpg" data-lightbox="group:14-580babbad8f15" title="Justin Walker, IT Coordinator">
                                <div>
                                    <img src="/images/Board-Members/justin-walker.jpg" width="200" height="245" alt="Justin Walker, IT Coordinator" />
                                    <p class="title">Justin Walker, IT Coordinator</p>
                                </div>
                            </a>                         
                            


                        </div>

                    </span>
                </h2>
                
                <!-- most recent Presidents Message -->
                <hr class="dotted">
                {% for post in site.posts %}
                {% if post.tags contains 'presidents-message' %}
                <h2>President's Message</h2>
                <p>{{ post.date | date: '%B %d, %Y' }}</p>
                {{ post.content }}
                {% break %}
                {% endif %}
                {% endfor %}
                <hr class="dotted">
                <!-- /end president's message -->


            </div>




        </article>

    </div>
</section>