---
title: Friends Meetings
layout: default
---

<section id="content" class="grid-block">
    <div id="system-message-container">
    </div>

    <div id="system">


        <article class="item">


            <header>



                <h1 class="title">Minutes &amp; Financial Statements of Meetings</h1>


            </header>


            <div class="content clearfix">

                {% for year in site.data.meetings reversed %}
                <table class="zebra" style="width: 100%;">
                    <thead>
                        <tr>
                            <th width="25%">{{ year.year }}</th>
                            <th align="center" width="37%">Minutes</th>
                            <th align="center">Statement</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for month in year.months reversed %}                       
                        <tr>
                            <td>{{ month.name }} {{ year.year }}</td>
                            <td>
                                {% if month.minutes %}
                                <a href="{{ month.minutes }}" target="_blank" class="wf_file">
                                    <span class="wf_file_text">{{ month.name }} {{ year.year }} Minutes</span>
                                </a>
                                {% else %}
                                No {{ month.name }} Meeting
                                {% endif %}
                            </td>
                            <td>
                                {% if month.statement %}
                                <a href="{{ month.statement }}" target="_blank" class="wf_file">
                                    <span class="wf_file_text">{{ month.name }} {{ year.year }} Statement</span>
                                </a>
                                {% else %}
                                No {{ month.name }} Statement
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr class="dotted">
                {% endfor %}

                <table class="zebra" style="width: 100%;">
                    <tbody>
                        <tr>
                            <th width="25%">2016</th>
                            <th align="center" width="37%">Minutes</th>
                            <th align="center">Statements</th>
                        </tr>
                        <td>August 2016</td>
                        <td>No August Minutes</td>
                        <td>
                            <a href="/images/PDF_Files/2016/Aug_2016_Statement.pdf" target="_blank" class="wf_file">
                                <span class="wf_file_text">August 2016 Statement</span>
                            </a>
                        </td>
                        </tr>
                        <tr>
                            <td>July 2016</td>
                            <td>
                                <a href="/images/PDF_Files/2016/July_2016_Minutes.pdf" target="_blank">July 2016 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2016/July_2016_Statement.pdf" target="_blank">July 2016 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>June 2016</td>
                            <td>No June Minutes</td>
                            <td>
                                <a href="/images/PDF_Files/2016/June_2016_stmnt.pdf" target="_blank" class="wf_file">
                                    <span class="wf_file_text">June 2016 Statement</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>May 2016</td>
                            <td>No May Minutes</td>
                            <td>
                                <a href="/images/PDF_Files/2016/May_2016_stmnt.pdf" target="_blank" class="wf_file">
                                    <span class="wf_file_text">May 2016 Statement</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>April 2016</td>
                            <td>
                                <a href="/images/PDF_Files/2016/April_2016_Minutes.pdf" target="_blank">April 2016 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2016/April_2016_stmnt.pdf" target="_blank">April 2016 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>March 2016</td>
                            <td>No March Minutes</td>
                            <td>
                                <a href="/images/PDF_Files/2016/Mar_2016_Statement.pdf" target="_blank">March 2016 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>February 2016</td>
                            <td>No February Minutes</td>
                            <td>
                                <a href="/images/PDF_Files/2016/Feb_2016_stmnt.pdf" target="_blank" class="wf_file">
                                    <span class="wf_file_text">February 2016 Statement</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 2016</td>
                            <td>
                                <a href="/images/PDF_Files/2016/Jan_2016_Minutes.pdf" target="_blank">January 2016 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2016/Jan_2016_stmnt.pdf" target="_blank">January 2016 Statement</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr class="dotted">
                <table class="zebra" style="width: 100%;">
                    <tbody>
                        <tr>
                            <th width="25%">2015</th>
                            <th align="center" width="37%">Minutes</th>
                            <th align="center">Statements</th>
                        </tr>
                        <tr>
                            <td>Dec 2015</td>
                            <td>
                                <a href="/images/PDF_Files/2015/Dec_2015_Minutes.pdf" target="_blank">December 2015 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2015/Dec_2015_Statement.pdf" target="_blank">December 2015 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Nov 2015</td>
                            <td>No Meeting in November</td>
                            <td>
                                <a href="/images/PDF_Files/2015/Nov_2015_Statement.pdf" target="_blank">November 2015 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Oct 2015</td>
                            <td>
                                <a href="/images/PDF_Files/2015/Oct_2015_ Minutes.pdf" target="_blank">October 2015 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2015/Oct_2015_Statement.pdf" target="_blank">October 2015 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Sep 2015</td>
                            <td>
                                <a href="/images/PDF_Files/2015/Sept_2015_Minutes.pdf" target="_blank">September 2015 Minutes</a>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Aug 2015</td>
                            <td>No August Meeting</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Jul 2015</td>
                            <td>
                                <a href="/images/PDF_Files/2015/Jul_2015_Minutes.pdf" target="_blank">July 2015 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2015/Jul_2015_Stmnt.pdf" target="_blank">July 2015 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jun 2015</td>
                            <td>
                                <a href="/images/PDF_Files/2015/Jun_2015_Minutes.pdf" target="_blank">Jun 2015 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2015/Jun_2015_Stmnt.pdf" target="_blank">Jun 2015 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>May 2015</td>
                            <td>No May Minutes</td>
                            <td>
                                <a href="/images/PDF_Files/2015/May_2015_Stmnt.pdf" target="_blank">May 2015 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Apr 2015</td>
                            <td>
                                <a href="/images/PDF_Files/2015/April_2015_Minutes.pdf" target="_blank">Apr 2015 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2015/Apr_2015_Stmnt.pdf" target="_blank">Apr 2015 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Mar 2015</td>
                            <td>
                                <a href="/images/PDF_Files/2015/Mar_2015_minutes.pdf" target="_blank">Mar 2015 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2015/Mar_2015_Stmnt.pdf" target="_blank">Mar 2015 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Feb 2015</td>
                            <td>
                                <a href="/images/PDF_Files/2014/Feb_2014_minutes.pdf" target="_blank">Feb 2015 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2014/Feb_2014_Stmnt.pdf" target="_blank">Feb 2015 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 2015</td>
                            <td>
                                <a href="/images/PDF_Files/2015/Jan_2015_minutes.pdf" target="_blank">Jan 2015 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2015/Jan_2015_stmnt.pdf" target="_blank">Jan 2015 Statement</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr class="dotted">
                <table class="zebra" style="width: 100%;">
                    <tbody>
                        <tr>
                            <th width="25%">2014</th>
                            <th align="center" width="37%">Minutes</th>
                            <th align="center">Statements</th>
                        </tr>
                        <tr>
                            <td>Dec 2014</td>
                            <td>No December Minutes</td>
                            <td>
                                <a href="/images/PDF_Files/2014/Dec_2014_Statement.pdf" target="_blank">Dec 2014 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Nov 2014</td>
                            <td>No November Minutes</td>
                            <td>
                                <a href="/images/PDF_Files/2014/Nov_2014_Statement.pdf" target="_blank">Nov 2014 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Oct 2014</td>
                            <td>
                                <a href="/images/PDF_Files/2014/Oct_2014_Minutes.pdf" target="_blank">Oct 2014 Minutes
                                    <br />
                                </a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2014/Oct_2014_Stmnt.pdf" target="_blank">Oct 2014 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Sep 2014</td>
                            <td>
                                <a href="/images/PDF_Files/2014/Sept_2014_Minutes.pdf" target="_blank">Sep 2014 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2014/Sep_2014_Stmnt.pdf" target="_blank">Sep 2014 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Aug 2014</td>
                            <td>No August Meeting</td>
                            <td>
                                <a href="/images/PDF_Files/2014/Aug_2014_Stmnt.pdf" target="_blank">Aug 2014 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jul 2014</td>
                            <td>
                                <a href="/images/PDF_Files/2014/Jul_2014_minutes.pdf" target="_blank">Jul 2014 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2014/Jul_2014_Stmnt.pdf" target="_blank">Jul 2014 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jun 2014</td>
                            <td>
                                <a href="/images/PDF_Files/2014/Jun_2014_minutes.pdf" target="_blank">Jun 2014 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2014/Jun_2014_Stmnt.pdf" target="_blank">Jun 2014 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>May 2014</td>
                            <td>
                                <a href="/images/PDF_Files/2014/May_2014_minutes.pdf" target="_blank">May 2014 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2014/May_2014_Stmnt.pdf" target="_blank">May 2014 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Apr 2014</td>
                            <td>
                                <a href="/images/PDF_Files/2014/Apr_2014_minutes.pdf" target="_blank">Apr 2014 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2014/Apr_2014_Stmnt.pdf" target="_blank">Apr 2014 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Mar 2014</td>
                            <td>
                                <a href="/images/PDF_Files/2014/Mar_2014_minutes.pdf" target="_blank">Mar 2014 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2014/Mar_2014_Stmnt.pdf" target="_blank">Mar 2014 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Feb 2014</td>
                            <td>
                                <a href="/images/PDF_Files/2014/Feb_2014_minutes.pdf" target="_blank">Feb 2014 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2014/Feb_2014_Stmnt.pdf" target="_blank">Feb 2014 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 2014</td>
                            <td>
                                <a href="/images/PDF_Files/2014/Jan_2014_minutes.pdf" target="_blank">Jan 2014 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2014/Jan_2014_stmnt.pdf" target="_blank">Jan 2014 Statement</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr class="dotted">
                <table class="zebra" style="width: 100%;">
                    <tbody>
                        <tr>
                            <th width="25%">2013</th>
                            <th align="center" width="37%">Minutes</th>
                            <th align="center">Statements</th>
                        </tr>
                        <tr>
                            <td>Dec 2013</td>
                            <td>
                                <a href="/images/PDF_Files/2013/Dec_2013_Minutes.pdf" target="_blank">Dec 2013 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2013/Dec_2013_Stmnt.pdf" target="_blank">Dec 2013 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Nov 2013</td>
                            <td>
                                <a href="/images/PDF_Files/2013/Nov_2013_Minutes.pdf" target="_blank">Nov 2013 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2013/Nov_2013_Stmnt.pdf" target="_blank">Nov 2013 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Oct 2013</td>
                            <td>
                                <a href="/images/PDF_Files/2013/Oct_2013_Minutes.pdf" target="_blank">Oct 2013 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2013/Oct_2013_Stmnt.pdf" target="_blank">Oct 2013 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Sept 2013</td>
                            <td>No Sept Meeting</td>
                            <td>
                                <a href="/images/PDF_Files/2013/Sept_2013_Stmnt.pdf" target="_blank">Sept 2013 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Aug 2013</td>
                            <td>
                                <a href="/images/PDF_Files/2013/Aug_2013_minutes.pdf" target="_blank">Aug 2013 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2013/Aug_2013_Stmnt.pdf" target="_blank">Aug 2013 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jul 2013</td>
                            <td>
                                <a href="/images/PDF_Files/2013/July_2013_minutes_.pdf" target="_blank">Jul 2013 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2013/Jul_2013_Stmnt.pdf" target="_blank">Jul 2013 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jun 2013</td>
                            <td>
                                <a href="/images/PDF_Files/2013/Jun_2013_minutes.pdf" target="_blank">Jun 2013 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2013/Jun_2013_Stmt.pdf" target="_blank">Jun 2013 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>May 2013</td>
                            <td>
                                <a href="/images/PDF_Files/2013/May_2013_minutes.pdf" target="_blank">May 2013 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2013/May_2013_Stmt.pdf" target="_blank">May 2013 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Apr 2013</td>
                            <td>
                                <a href="/images/PDF_Files/2013/Apr_2013_minutes.pdf" target="_blank">Apr 2013 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2013/Apr_2013_Stmt.pdf" target="_blank" class="wf_file">
                                    <span class="wf_file_text">Apr 2013 Statement</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Mar 2013</td>
                            <td>
                                <a href="/images/PDF_Files/2013/Mar_2013_minutes.pdf" target="_blank">Mar 2013 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2013/Mar_2013_Stmt.pdf" target="_blank">Mar 2013 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Feb 2013</td>
                            <td>
                                <a href="/images/PDF_Files/2013/Feb_2013_Minutes.pdf" target="_blank">Feb 2013 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2013/Feb_2013_Stmt.pdf" target="_blank">Feb 2013 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 2013</td>
                            <td>
                                <a href="/images/PDF_Files/2013/Jan_2013_Minutes.pdf" target="_blank">Jan 2013 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2013/Jan_2013_Stmt.pdf" target="_blank">Jan 2013 Statement</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr class="dotted">
                <table class="zebra" style="width: 100%;">
                    <tbody>
                        <tr>
                            <th width="25%">2012</th>
                            <th align="center" width="37%">Minutes</th>
                            <th align="center">Statements</th>
                        </tr>
                        <tr>
                            <td>Dec 2012</td>
                            <td>No Dec meeting</td>
                            <td>
                                <a href="/images/PDF_Files/2012/Dec_2012_Stmt.pdf" target="_blank">Dec 2012 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Nov 2012</td>
                            <td>
                                <a href="/images/PDF_Files/2012/Nov_Gen_Mtg_2012_Minutes.pdf" target="_blank">Nov_Gen Mtg_2012_Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2012/Nov_2012_Stmt.pdf" target="_blank">Nov 2012 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Oct 2012</td>
                            <td>
                                <a href="/images/PDF_Files/2012/Oct_2012_Minutes.pdf" target="_blank">Oct 2012 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2012/Oct_2012_Stmnt.pdf" target="_blank">Oct 2012 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Sep 2012</td>
                            <td>
                                <a href="/images/PDF_Files/2012/Sep_2012_Minutes.pdf" target="_blank">Sep 2012 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2012/Sep_2012_Stmnt.pdf" target="_blank">Sep 2012 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Aug 2012</td>
                            <td>
                                <a href="/images/PDF_Files/2012/Aug_2012_Minutes.pdf" target="_blank">Aug 2012 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2012/Aug_2012_Stmnt.pdf" target="_blank">Aug 2012 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jul 2012</td>
                            <td>
                                <a href="/images/PDF_Files/2012/Jul_2012_Minutes.pdf" target="_blank">Jul 2012 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2012/Sep_2012_Stmnt.pdf" target="_blank">Jul 2012 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jun 2012</td>
                            <td>No June meeting</td>
                            <td>
                                <a href="/images/PDF_Files/2012/Jun_2012_Stmnt.pdf" target="_blank">Jun 2012 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>May 2012</td>
                            <td>
                                <a href="/images/PDF_Files/2012/May_2012_Minutes.pdf" target="_blank">May 2012 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2012/May_2012_Stmnt.pdf" target="_blank">May 2012 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Apr 2012</td>
                            <td>
                                <a href="/images/PDF_Files/2012/Apr_2012_Minutes.pdf" target="_blank">Apr 2012 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2012/Apr_2012_Stmnt.pdf" target="_blank">Apr 2012 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Mar 2012</td>
                            <td>
                                <a href="/images/PDF_Files/2012/Mar_2012_Minutes.pdf" target="_blank">Mar 2012 Minutes</a>
                            </td>
                            <td>
                                <a href="/images/PDF_Files/2012/Mar_2012_Stmnt.pdf" target="_blank">Mar 2012 Statement</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 2012</td>
                            <td>
                                <a href="/images/PDF_Files/2012/Jan_2012_Minutes.pdf" target="_blank">Jan 2012 Minutes</a>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Dec 2011</td>
                            <td>
                                <a href="/images/PDF_Files/2011/Dec_2011_Minutes.pdf" target="_blank">Dec 2011 Minutes</a>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <p>Final By-Laws viewable here:
                    <a href="/images/PDF_Files/By-Laws.pdf" target="_blank">Friends Adopted By-Laws&nbsp;</a>
                </p>
            </div>




        </article>

    </div>
</section>