---
title: Home
layout: default
---

<section id="content" class="grid-block">
    <div id="system-message-container">
    </div>

    <div id="system">


        <div class="items items-col-0 grid-block">
            <div class="grid-box width100 leading">
                <article class="item">

                    <!-- home page announcements -->
                    {% include presidents-message.html %}

                    <header>
                        <h1 class="title">
                            Friends of the La Mesa Library
                        </h1>
                    </header>

                    <div class="content clearfix">

                        <!-- <h2 style="text-align: left;">Who are the Friends of the La Mesa Library?</h2> -->
                        <p style="text-align: left;" align="left">
                            {% include friends-about.html %}
                        </p>
                        <h2 style="text-align: left;" align="left">How Can I Become a Friend?</h2>
                        <p>You may join the Friends of the La Mesa Library by paying an annual tax-deductible
                            membership fee. Please see the
                            <a href="/membership">membership form</a> included on this site.
                        </p>
                        <h2 style="text-align: left;">Friends of the Library Bookstore</h2>
                        <img src="/images/pages/home/bookstore.jpg" alt="" style="width: 50%;">
                        <p style="text-align: left;" align="left">
                            {% include bookstore-info.html %}
                        </p>

                        <!-- featured post -->
                        <hr class="dotted">
                        {% for post in site.posts %}
                        {% if post.featured %}
                        <h2>{{ post.title }}</h2>
                        {{ post.content }}
                        <hr class="dotted">
                        {% break %}
                        {% endif %}
                        {% endfor %}
                        <!-- /end featured post -->

                        <p>
                            <span style="background-color: transparent; font-size: 1.5em;">Some of our Volunteers</span>
                        </p>

                        <div class="wk-gallery wk-gallery-wall clearfix polaroid margin ">
                            <div>
                                <div>
                                    <img src="/images/pages/home/volunteers/robin-theilmann-thumb.jpeg" width="200"
                                        height="200" alt="Robin" />
                                    <p class="title">Robin</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <img src="/images/pages/home/volunteers/carol-yaremko-thumb.jpeg" width="200"
                                        height="200" alt="Carol Yaremko" />
                                    <p class="title">Carol</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <img src="/images/pages/home/volunteers/meg-sterling-thumb.jpeg"
                                        width="200" height="200" alt="Meg Sterling" />
                                    <p class="title">Meg</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <img src="/images/pages/home/volunteers/jeri-thumb.jpg"
                                        width="200" height="200" alt="Jeri" />
                                    <p class="title">Jeri</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <img src="/images/pages/home/volunteers/thumbs/CatherineSiebertsorter-e14e530d8f.gif" width="200" height="200"
                                        alt="Catherine Siebert" />
                                    <p class="title">Catherine</p>
                                </div>
                            </div>
                        </div>


                        <h2>Volunteers in Action</h2>
                        <p>
                            <div class="wk-gallery wk-gallery-wall clearfix polaroid margin ">



                                <div>
                                    <div>
                                        <img src="/images/pages/home/volunteers/thumbs/Volunteers in Action 1-17936489e0.jpeg"
                                            width="200" height="200" alt="Volunteers in Action 1" />
                                        <p class="title">Volunteers in Action</p>
                                    </div>
                                </div>



                                <div>
                                    <div>
                                        <img src="/images/pages/home/volunteers/thumbs/Volunteers in Action 2-8d1c2f1bee.jpeg"
                                            width="200" height="200" alt="Volunteers in Action 2" />
                                        <p class="title">Volunteers in Action</p>
                                    </div>
                                </div>


                            </div>

                        </p>
                        <div align="center">
                            <p>For Minutes and Statements see
                                <a href="/about/meeting-minutes/">Friends Meetings </a>page</p>
                            <p>For Rare and Collectible Books see our
                                <a href="/books/vintage-books">Vintage Books </a>page</p>
                            <p>Want to see our Board members and President Message? Check out the
                                <a href="/about/board-members/">Board Member</a> Page</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>


    </div>
</section>