---
title: Home
layout: default
---

<section id="content" class="grid-block">
    <div id="system-message-container">
    </div>

    <div id="system">


        <div class="items items-col-0 grid-block">
            <div class="grid-box width100 leading">
                <article class="item">

                    <!-- home page announcements -->
                    <div id="announcements">
                        <span class="material-icons">article</span>
                        <h1>Read the 2022 <a href="{% link _posts/2022-12-13-presidents-message.md %}">President's Message</a></h1>
                    </div>

                    <header>
                        <h1 class="title">
                            Friends of the La Mesa Library
                        </h1>
                    </header>

                    <div class="content clearfix">

                        <!-- <h2 style="text-align: left;">Who are the Friends of the La Mesa Library?</h2> -->
                        <p style="text-align: left;" align="left">The Friends of the La Mesa Library is a group of people from the La Mesa area
                            who believes that a modern, effective library is essential to our community.
                            Formed in February 1969, the Friends have since incorporated as a 501 (c)
                            3 nonprofit organization whose stated purpose is to promote, preserve, and
                            support library services and patron needs through education of and communication
                            with local libraries and the community</p>
                        <h2 style="text-align: left;" align="left">How Can I Become a Friend?</h2>
                        <p>You may join the Friends of the La Mesa Library by paying an annual tax-deductible
                            membership fee. Please see the
                            <a href="/membership">membership form</a> included on this site.
                        </p>
                        <h2 style="text-align: left;">Friends of the Library Bookstore</h2>
                        <p style="text-align: left;" align="left">The Friends of the La Mesa Library raises the majority of its money from used
                            book sales. Our bookstore is conveniently located just inside the library's
                            front entrance, and is open daily from 1 to 4 PM. Our continued success depends
                            on two things: your donation of new or gently used books, and volunteers
                            to staff and run the bookstore. lf you think you might like to help with
                            our bookstore, please indicate so when you join or renew your membership.
                            All volunteers working in the bookstore and/or the library are required to
                            go through a formal background check by the County.</p>

                        <!-- featured post -->
                        <hr class="dotted">
                        {% for post in site.posts %}
                        {% if post.featured %}
                        <h2>{{ post.title }}</h2>
                        {{ post.content }}
                        {% break %}
                        {% endif %}
                        {% endfor %}
                        <hr class="dotted">
                        <!-- /end featured post -->

                        <p>
                            <span style="background-color: transparent; font-size: 1.5em;">Some of our Volunteers</span>
                        </p>
                        <p>
                            <div class="wk-gallery wk-gallery-wall clearfix polaroid margin ">



                                <div>
                                    <div>
                                        <img src="/images/pages/home/volunteers/robin-theilmann-thumb.jpeg" width="200"
                                            height="200" alt="Robin" />
                                        <p class="title">Robin</p>
                                    </div>
                                </div>



                                <div>
                                    <div>
                                        <img src="/images/pages/home/volunteers/carol-yaremko-thumb.jpeg" width="200"
                                            height="200" alt="Carol Yaremko" />
                                        <p class="title">Carol</p>
                                    </div>
                                </div>



                                <div>
                                    <div>
                                        <img src="/images/pages/home/volunteers/meg-sterling-thumb.jpeg"
                                            width="200" height="200" alt="Meg Sterling" />
                                        <p class="title">Meg</p>
                                    </div>
                                </div>



                                <div>
                                    <div>
                                        <img src="/images/pages/home/volunteers/thumbs/CatherineSiebertsorter-e14e530d8f.gif"
                                            width="200" height="200" alt="CatherineSiebertsorter" />
                                        <p class="title">Catherine</p>
                                    </div>
                                </div>



                                <!-- <div>
                                    <div>
                                        <img src="/images/pages/home/volunteers/cathie-smith-thumb.jpeg" width="200"
                                            height="200" alt="CathySmith" />
                                        <p class="title">Cathy</p>
                                    </div>
                                </div> -->


                            </div>

                        </p>
                        <h2>Volunteers in Action</h2>
                        <p>
                            <div class="wk-gallery wk-gallery-wall clearfix polaroid margin ">



                                <div>
                                    <div>
                                        <img src="/images/pages/home/volunteers/thumbs/Volunteers in Action 1-17936489e0.jpeg"
                                            width="280" height="280" alt="Volunteers in Action 1" />
                                        <p class="title">Volunteers in Action</p>
                                    </div>
                                </div>



                                <div>
                                    <div>
                                        <img src="/images/pages/home/volunteers/thumbs/Volunteers in Action 2-8d1c2f1bee.jpeg"
                                            width="280" height="280" alt="Volunteers in Action 2" />
                                        <p class="title">Volunteers in Action</p>
                                    </div>
                                </div>


                            </div>

                        </p>
                        <div align="center">
                            <p>For Minutes and Statements see
                                <a href="/about/meeting-minutes/">Friends Meetings </a>page</p>
                            <p>For Rare and Collectible Books see our
                                <a href="/books/vintage-books">Vintage Books </a>page</p>
                            <p>Want to see our Board members and President Message? Check out the
                                <a href="/about/board-members/">Board Member</a> Page</p>
                        </div>
                        <p>&nbsp;</p>

                        {% comment %}
                        <!-- most recent Presidents Message -->
                        <hr class="dotted">
                        {% for post in site.posts %}
                        {% if post.tags contains 'presidents-message' %}
                        <h2>President's Message</h2>
                        <p>{{ post.date | date: '%B %d, %Y' }}</p>
                        {{ post.content }}
                        {% break %}
                        {% endif %}
                        {% endfor %}
                        <!-- /end president's message -->
                        {% endcomment %}

                        <hr class="dotted">

                        <!--
<div class="box-note">
<h2><img src="/images/celebrities/Brian_Jones_150.jpg" alt="Brian Jones 150" width="149" height="161" style="margin: 0px 0px 7px 7px; float: right;" />Comments From Assemblyman:</h2>
<p>On behalf of Californian 77th Assembly District, I would like to applaud the Friends of the La Mesa Library for your valuable contribution to this community. Your role as a non-profit undoubtedly provides a necessary presence within the region.</p>
<p><a href="http://arc.asm.ca.gov/member/AD71/" target="_blank">Brian W. Jones</a><br /> Assembly, 77th District<br /><br /></p>
</div>
-->
                    </div>




                </article>
            </div>
        </div>


    </div>
</section>