The Friends of the La Mesa Library raises the majority of its money from used
book sales. Our bookstore is conveniently located just inside the library's
front entrance. Our continued success depends
on two things: your donation of new or gently used books, and volunteers
to staff and run the bookstore. lf you think you might like to help with
our bookstore, please indicate so when you join or renew your membership.
All volunteers working in the bookstore and/or the library are required to
go through a formal background check by the County.