<style>
    .bookstore-hours .row {
        display: flex;
        justify-content: space-between;
    }
</style>
<div class="content">
    <p>
        <div class="bookstore-hours">
            <div class="row">
                <div>Monday</div>
                <div>10 AM - 4 PM</div>
            </div>
            <div class="row">
                <div>Tuesday</div>
                <div>1 PM - 4 PM</div>
            </div>
            <div class="row">
                <div>Wednesday</div>
                <div>1 PM - 4 PM</div>
            </div>
            <div class="row">
                <div>Thursday</div>
                <div>10 AM - 4 PM</div>
            </div>
            <div class="row">
                <div>Friday</div>
                <div>1 PM - 4 PM</div>
            </div>
            <div class="row">
                <div>Saturday</div>
                <div>10 AM - 4 PM</div>
            </div>
            <div class="row">
                <div>Sunday</div>
                <div>10 AM - 1 PM</div>
            </div>
        </div>
    </p>
    <p style="font-size: 11px; margin-bottom: 0;">*Hours subject to change without notice</p>
</div>