body.full-width #sidebar-a { display: none; }

body.full-width #maininner {
    float: none;
    width: 100%;
}

#logo p {
    width: 250px;
    background: white;
    padding: 15px 15px 10px 15px;
    border-radius: 10px;
}

#content > h1 { margin-top: 0; }

#scroll-to-top {
    display: block;
    position: absolute;
    top: -26px;
    left: 50%;
    z-index: 1;
    width: 27px;
    height: 15px;
    margin-left: -13px;
    background: $colorPrimary url(/templates/yoo_nano2/styles/wide/images/totop_scroller.png) 50% 7px no-repeat;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.05);
    border-radius: 3px;
    text-decoration: none;

    &:hover {
        top: -31px;
        padding-bottom: 5px;
    }
}


#block-header {
    padding: 0;
    background: #fff;

    .wrapper {
        background-image: url('/images/PageDecoration/header.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 10px;
        border-bottom: 5px solid $colorPrimary
    }

    #headerbar h2 {
        padding: 8px 12px;
        color: white;                   
    }

    .menu-dropdown li.level1:hover .level1, 
    .menu-dropdown li.remain .level1, 
    .menu-dropdown li.active .level1 {
        background: $colorPrimary;
    }
}

#block-footer {
    padding: 15px 0;
    background: $colorPrimary;

    a, p { color: #fff; }
}

#announcements {
    padding: 15px;

    &.danger { 
        background-color: #D63430; 
        color: #fff;
    }

    h1 { 
        margin: 0; 
        font-size: 34px;
        line-height: 0.75;
    }

    p { margin: 10px 0 0 0; }
}
