body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

// sidebar titles
.module-title {
    display: flex;
    align-items: center;

    .material-icons { margin-right: 2px; }
}

// h1, h2, h3, h4, h5, h6 {
//     color: cornflowerblue;

//     > a, > a:hover {
//         color: cornflowerblue;
//         text-decoration: none;
//     }
// }

// a { color: #001f3f; }

// a, a:hover {
//     text-decoration: underline;
// }

// #headerbar h2 { color: #777 !important; }