---
title: Board Members
layout: default
---

<section id="content" class="grid-block">
    <div id="system-message-container"></div>

    <div id="system">
        <article class="item">
            <header>
                <h1 class="title">Friends of La Mesa Library Board Members</h1>
            </header>

            <div class="content clearfix">

                <div style="border: 1px solid darkGray; padding: 10px; display: inline-block; max-width: 100%;">
                    <img src="{{ site.data.board-members.imageRoot }}{{ site.data.board-members.groupPhoto }}?v={{ site.data.board-members.version }}" width="500"
                        style="max-width: 100%; display: block;" />
                </div>

                <h2 align="left">
                    <span style="font-family: monospace; font-size: 12px; background-color: #eaeaea;">
                        <div class="wk-gallery wk-gallery-wall clearfix polaroid margin ">
                        {% for member in site.data.board-members.members %}

                            <!-- <a class="" href="{{ site.data.board-members.imageRoot }}{{ member.image}}?v={{ site.data.board-members.version }}" data-lightbox="group:14-580babbad8f15"
                                title="{{ member.name }}, {{ member.title }}"> -->
                            <div>
                                <div>
                                    <img src="{{ site.data.board-members.imageRoot }}{{ member.image}}?v={{ site.data.board-members.version }}" width="200" height="245" alt="{{ member.name }}, {{ member.title }}" />
                                    <p class="title">{{ member.name }}, {{ member.title }}</p>
                                </div>
                            </div>
                            <!-- </a> -->
                        {% endfor%}
                        </div>
                    </span>
                </h2>

                <!-- most recent Presidents Message -->
                <hr class="dotted">
                {% for post in site.posts %}
                {% if post.tags contains 'presidents-message' %}
                <h2>President's Message</h2>
                <p>{{ post.date | date: '%B %d, %Y' }}</p>
                {{ post.content }}
                {% break %}
                {% endif %}
                {% endfor %}
                <hr class="dotted">
                <!-- /end president's message -->


            </div>
        </article>
    </div>
</section>