---
title: Board Members
layout: default
fullwidth: true
---

<section id="content" class="grid-block width-800">
    <div id="system-message-container"></div>

    <div id="system">
        <article class="item">
            <header>
                <h1 class="title">Friends of La Mesa Library Board Members</h1>
            </header>

            <div class="content clearfix">

                <!-- <div style="border: 1px solid darkGray; padding: 10px; display: inline-block; max-width: 100%;">
                    <img src="{{ site.data.board-members.imageRoot }}{{ site.data.board-members.groupPhoto }}?v={{ site.data.board-members.version }}" width="500"
                        style="max-width: 100%; display: block;" />
                </div> -->

                <div class="board-members-ctn">
                    {% for member in site.data.board-members.members %}

                    <div class="board-member {% if member.bio != nil %}has-bio{% endif %}">
                        <div class="photo-ctn">
                            <div>
                                <img
                                    src="{{ site.data.board-members.imageRoot }}{{ member.image | default: 'avatar.png'}}?v={{ site.data.board-members.version }}"
                                    width="200"
                                    height="245"
                                    alt="{{ member.name }}, {{ member.title }}" />
                                <div class="photo-label">
                                    <div class="name">{{ member.name }}</div>
                                    <div class="title">{{ member.title }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="bio">{{ member.bio }}</div>
                    </div>

                    {% endfor %}
                </div>

                <hr class="dotted">

                <div class="past-members-ctn">
                    <div>We would like to recognize and thank past members of our board:</div>
                    <ul>
                        {% for member in site.data.board-members.pastMembers %}
                        <li>{{ member.name }}, {{ member.title }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- most recent Presidents Message -->
                <hr class="dotted">

                {% include presidents-message.html %}


            </div>
        </article>
    </div>
</section>