---
title: History of the Friends
layout: page
---


<h2>Who are the Friends of the La Mesa Library?</h2>
<p>
    {% include friends-about.html %}
</p>
<p>By-Laws viewable here:
    <a href="/images/pages/meetings/By-Laws.pdf" target="_blank">Friends Adopted By-Laws&nbsp;</a>
</p>
<h2>How Can I Become a Friend?</h2>
<p>You may join the Friends of the La Mesa Library by paying an annual tax deductible membership fee. Please see the
    membership page on this site.</p>

<h2>Friends of the Library Bookstore</h2>
<p>
    {% include bookstore-info.html %}
</p>
<h2>Future Needs</h2>
<p>Because of the high volume of use of the La Mesa branch library building, it is logical that maintenance costs will
    go up in the years ahead. The Friends of the La Mesa Library has begun a specific savings fund to assist with those
    improvements when the time comes. If you wish to donate specifically to this effort, you may do so by noting it
    on the memo line of your donation check.</p>